<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-4">
      <button class="button">Acelerar</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button">Play/Pause</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button">Rotar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-4">
      <button class="button"><</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button">Reiniciar</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button">></button>
    </div>
  </div>
  
</div>
