<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-4">
      <button class="button" (click)="accel()">Acelerar</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button" (click)="play()">Play/Pause</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button" (click)="rotate()">Rotar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-4">
      <button class="button" (click)="left()"><</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button" (click)="reboot()">Reiniciar</button>
    </div>
    <div class="col-md-4 col-4">
      <button class="button" (click)="right()">></button>
    </div>
  </div>
  
</div>
